html, body {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-slider {
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background: #ce1a3f;
  overflow: hidden;
}

.page-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.page-panel._active { z-index: 10; }

.trans-layer, .section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.trans-layer {
  background: #ff214f;
  transform: translateY(-100%) skew(0) rotate(0) scale(2);
  border-radius: 50%;
  transition: all 500ms ease-in-out;
  transition-delay: 500ms;
}

._active .trans-layer {
  transform: translateY(0) skew(0) rotate(0) scale(2);
  transition-delay: 0ms;
}

.section {
  transform: translateY(100%);
  transition: all 500ms ease-in-out;
  transition-delay: 0ms;
  background: #e51d47;
  position: relative;
}
.section img {
  width: 100%;
}
._active .section {
  transform: translateY(0);
  transition-delay: 500ms;
}

.section-content {
  left: 20px;
  bottom: 20px;
  width: 100%;
  color: #fff;
  font-family: arial;
  opacity: 0;
  transform: translateY(30px);
  transition: all 500ms ease;
  transition-delay: 0s;
  position: absolute;
  z-index: 19999999999999999;
}
._active .section-content {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 1000ms;
}

.nav-dots {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 20;
  width: 40px;
}

.nav-dot {
  width: 10px;
  height: 10px;
  margin: 20px auto;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  transition: all 300ms ease-out;
}

.nav-dot.active { background: red; }

.next-btn, .prev-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 20;
  border: 1px solid #ff214f;
  color: #ff214f;
  line-height: 30px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}
.next-btn:hover, .prev-btn:hover {
  background-color: #ff214f;
  color: #fff;
}
.next-btn {
  bottom: 10px;
  right: 14px;
}

.prev-btn {
  top: 10px;
  right: 14px;
}