@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');   
html {
    overflow-x: hidden;
    padding: 0!important;
    background: #fff;
    margin: 0 !important;
}

.fullwidthbanner-container {
    width: 100%!important;
    position: relative;
    padding: 0;
    overflow: hidden;
    color: #fff;
}
.slider-bg2 {
    width: 100%;
    height: 100%;
    position: relative;
}
.slider-bg2:before {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 19999999999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
}
.slider-bg-grey {
    width: 100%;
    height: 100%;
    position: relative;
}
.slider-bg-grey:before {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 19999999999;
    width: 100%;
    height: 100%;
    background: rgba(28,28,28,0.5);
    position: absolute;
}
.slider-bg-white {
    width: 100%;
    height: 100%;
    position: relative;
}
.slider-bg-white:before {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 19999999999;
    width: 100%;
    height: 100%;
    background: rgba(237,237,237,0.4);
    position: absolute;
}
.tp-caption {
    font-size: 14px;
}
.tp-caption.zindex {
    z-index: 99999999999999;
}
.custom-size-1 {
    font-size: 54px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
    color: #2a2a2a;
    line-height: 1;
    margin: 0;
}

.custom-size-2 {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: #595959;
    background: rgba(255, 255, 255, 0.5);
}

.custom-size-3 {
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
}

.custom-size-4 {
    font-size: 68px;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
}

.custom-font-4 {
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    font-style: italic;
    color: #888888;
    font-weight: normal;
}
.custom-size-5 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: right;
}
.custom-size-6 {
    font-size: 68px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #323232; 
}
.custom-size-6.color {
    text-transform: none;
    color: #2cbfd9;
}
.custom-size-6.color-2 {
    text-transform: none;
    color: #d3a662;
}
.custom-size-6.size {
    font-size: 48px;
    line-height: 55px;
}
.custom-size-6.size-2 {
    font-size: 58px;
    text-align: center;
    line-height: 65px;
}
.custom-size-6.line-height {
    line-height: 70px;
    text-align: center;
}
.custom-size-7 {
    font-size: 38px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #0088cc; 
}
.custom-size-7.color {
    text-transform: none;
    color: #fff;
}
.custom-size-7.color-2 {
    color: #4e66de;
}
.custom-size-8 {
    font-size: 18px;
    text-transform: uppercase;
    color: #323232; 
}
.custom-size-8.color {
    text-transform: none;
    color: #fff;
}
.custom-size-8.size-font {
    text-transform: none;
}
.custom-size-9 {
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    font-weight: 300;
    color: #fff;
}
.custom-size-9.text-left {
    text-align: left;
}
.custom-size-10 {
    font-size: 88px;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
}
.custom-size-12 {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    color: #33d4de;
    font-weight: 300; 
    border: 1px solid #33d4de;
    border-radius: 25px;
    padding: 2px 15px;
}
.custom-size-12.color-1 {
    color: #2295ed;
    border: 1px solid #2295ed;
}
.custom-size-12.color-3 {
    font-weight: 500;
    color: #2295ed !important;
    border: 2px solid #2295ed;
}
.custom-size-12.color-4 {
    font-weight: 500;
    color: #303133 !important;
    border: 2px solid #303133;
}
.custom-size-2.white {
    color: #fff;
    background: none;
}
.custom-size-2.white strong {
    color: #0088cc;
}
.tp-caption .btn-border {
    color: #fff;
    border-color: #fff;
}
.custom-size-11 {
    font-size: 14px;
    color: #bbb; 
}
.custom-size-11.color-1 {
    color: #79797c;
    font-family: 'Raleway' , Arial , sans-serif;
    font-weight: 600;
}
.custom-size-11.color-2 {
    color: #545454;
    font-family: 'Raleway' , Arial , sans-serif;
    font-weight: 500;
}
.custom-size-11.size-1 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
span.color {
    color: #ffae4e;
}

@media only screen and (max-width: 991px) {
    .custom-size-6.size-2 {
        text-align: left;
    }
    .custom-size-6.line-height {
        text-align: left;
    }
    .custom-size-11.size-1 {
        text-align: left;
    }
}
@media only screen and (max-width: 767px) {
    a.btn-slider,
    a.btn-slider.btn-small {
        padding: 6px 14px 5px;
        font-size: 12px;
        min-width: auto;
        margin-right: 5px;
    }
    a.btn-border-slider {
        padding: 4px 12px 3px;
        font-size: 12px;
        min-width: auto;
    }
    .custom-size-6.size-2 {
        text-align: left;
    }
    .custom-size-11.size-1 {
        text-align: left;
    }
}

@media only screen and (max-width: 480px) {
    a.btn-slider,
    a.btn-slider.btn-small {
        padding: 4px 12px 3px;
        font-size: 8px;
        min-width: auto;
        margin-right: 5px;
    }
    a.btn-border-slider {
        padding: 2px 10px 1px;
        font-size: 8px;
        min-width: auto;
    }
}
